/* style.css */

body {
	font-family: 'DejaVu Sans Mono', monospace;
	text-align: center;
	margin-top: 50px;
}

.content {
	margin-bottom: 15px;
}

.margin {
	margin-right: 18px;
}

.qr-input {
	padding: 10px;
	width: 200px;
}

#qr-result img {
	margin-top: 20px;
	border: 1px solid #000;
}

button {
	padding: 10px 12px;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: bisque;
}

/* make sure footer stay on its place */

/* Ensure the body takes full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the wrapper flex to push the footer down */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Content should expand while footer stays at bottom */
.container {
    flex: 1;
}

/* Footer styling */
.footer {
    margin-top: auto;
    padding: 10px 0;
}

/* logo resize */
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 50px;
}